/* Brand.css */

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
  }
  
  .brand-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .brand-container {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  /* BrandCard.css */

  .brand-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    min-height: 405px;
    min-width: 353px;
  }
  
  .brand-card:hover {
    transform: translateY(-10px);
  }
  
  .brand-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin: 15px 0 10px;
    color: #333;
  }
  
  .brand-disc {
    font-size: 1rem;
    color: #777;
  }
  .brands .link{
    padding: 12px;
    color: #b5cbc2;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 8px;
  }

  .link:hover{
    background-color: pink !important;
    color: black !important;
  }