/* SuccessBox.css */
.success-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: slideIn 0.3s ease;
    text-align: center;
    width: 400px;
    padding-bottom: 28px;
}

.success-message {
    display: flex;
    justify-content: space-between; /* Space between message and close button */
    align-items: center; /* Center align the items */
}

.close-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.close-button:hover {
    color: #ffdddd; /* Change color on hover */
}

.go-to-cart-button {
    margin-top: 10px; /* Space above the button */
    padding: 10px 15px; /* Padding for the button */
    background-color: white; /* White background for the button */
    color: #4CAF50; /* Green text for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.go-to-cart-button:hover {
    background-color: #f1f1f1; /* Light gray background on hover */
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translate(-50%, -60%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
