.success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 25px;
  border: 2px solid #83978f;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 416px;
  text-align: center;
  border-radius: 15px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.success-modal h4 {
  font-size: 20px;
  color: #333;
  width: 300px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.success-modal .btn-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.success-modal button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.success-modal button.close-btn {
  background-color: #ff4d4d;
  color: white;
}

.success-modal button.close-btn:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}

.success-modal button.continue-btn {
  background-color: #5cb85c;
  color: white;
}

.success-modal button.continue-btn:hover {
  background-color: #4cae4c;
  transform: scale(1.05);
}