.blur{
  background-color: #8080801a;
    padding: 20px;
    position: relative;
    color: black !important;
    padding-top: 145px;
    font-size: 21px;
    margin-top: 100px;
    overflow: hidden;
    padding-bottom: 100px;
}

  
  .blur .content {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    color: black !important;
  }
  
  .blur  img {
    /* Set the image to take 50% of the container width */
    position: absolute;
    right: 247px;
    top: 89px;
    width: 254px;
  }
  
 .blur .data {
  max-width: 100%;
  padding-left: 20px;
  margin-top: 60px;
  text-align: left;
  
  }
  
 .blur .data h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #E91E63;
    font-weight: bold;
    text-align: left;
  }
  .blur p{
    color: gray;
    font-weight: bold;
    flex-basis: 50%;
    max-width: 100%;
    text-align: left;
  }
  .blur .data p {
    margin-bottom: 15px;
  }
  
  .blur .data a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff; /* Bootstrap blue */
    padding: 10px 15px;
    border-radius: 5px;
  }
  .blur .data a :hover{
    transform: translateX(-10px);
  }
@media (max-width:992px) {
  .blur img{
    top: 50px;
  }
}
  @media (max-width:767px) {
    .blur .content {
      flex-direction: column;
    }
    .blur img{
      top: 43px;
      right: 100px;
    }
  }